html5
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    div.container
      h1 De Speciale Wieke En Hugo 12,5 Jaar Bij Elkaar Bollywood Ondertitelingsshow!
      p Help onze gastheren met een fantastisch feest! Geef dit cheesy Bollywoodfragment nieuwe ondertitels die waardig is aan de rijke relatie van Wieke en Hugo. Ga los met strijkbouten, fietszitjes en andere dagelijkse beslommeringen, maak er iets moois van!
      